.container {
  padding-block: 11rem;

  &::after {
    position: absolute;
    left: 0;
    top: 150%;
    z-index: -1;
    content: url(/images/subtract.png);
  }

  &::before {
    position: absolute;
    right: 0;
    top: 250%;
    z-index: -1;
    content: url(/images/subtract2.png);
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.title {
  text-align: center;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  max-width: 1200px;
  margin-inline: auto;

  h2 {
    font-size: 42px;
    color: var(--white);
    font-weight: 500;
    margin-bottom: 30px;
  }

  p {
    color: var(--white);
    font-size: 27px;
    font-weight: 500;
  }
}

.gridContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: max(0px, (100% - 1440px)/2);
  padding-right: 2.5rem;

  img {
    &:first-child {
      max-width: 341px;
    }
    &:nth-child(2) {
      object-fit: cover;
      height: 25px;
      width: 169px;
    }
  }
}

.gridContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.testimonialMasonryFirstRow {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 259px;
  gap: 50px;

  .userInfo {
    display: flex;
    align-items: center;
    gap: 1.1rem;
  }

  .depoiment {
    margin: 0;
    padding: 1.5rem 1.5rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background: #293964;
    gap: 1.3rem;
    border-radius: 15px;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
  }

  & > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  :global(.wide) {
    // grid-column: span 4;
    max-width: 486px;
  }

  :global(.thin) {
    max-width: 398px;
  }
}

.testimonialMasonrySecondRow {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 289px;
  gap: 50px;

  .userInfo {
    display: flex;
    align-items: center;
    gap: 1.1rem;
  }

  .depoiment {
    margin: 0;
    padding: 1.5rem 1.5rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background: #293964;
    gap: 1.3rem;
    border-radius: 15px;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
  }

  & > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  :global(.wide) {
    // grid-column: span 4;
    max-width: 486px;
  }

  :global(.thin) {
    max-width: 349px;
  }
}

.testimonialMasonryThirdRow {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 289px;
  gap: 50px;

  .userInfo {
    display: flex;
    align-items: center;
    gap: 1.1rem;
  }

  .depoiment {
    margin: 0;
    padding: 1.5rem 1.5rem;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background: #293964;
    gap: 1.3rem;
    border-radius: 15px;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
  }

  & > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  :global(.wide) {
    // grid-column: span 4;
    max-width: 373px;
  }

  :global(.thin) {
    max-width: 548px;
  }
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  p {
    width: 100%;
  }
}

.clientName {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: justify;
  color: #ffffff;
}
