.container {
  position: relative;
}

.backgroundFooter {
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
    content: url(/images/company-footer.png);

    @media only screen and (max-width: 768px) {
      content: url(/images/company-footer-mobile.png);
    }
  }
}

.content {
  --max-width: 1440px;
  max-width: var(--max-width);
  padding-inline: 2.5rem;
  margin-inline: auto;
  padding-top: 5rem;
}

.footerDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-block: 5rem;

  ul {
    list-style-type: none;
    li {
      &:first-child {
        color: #f4c648;
      }
    }
  }

  h3 {
    max-width: 459px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
  }

  @media only screen and (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;

    h3 {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-align: justify;
    }
  }
}

.firstBlock {
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

.firstBlock,
.secondBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media only screen and (max-width: 768px) {
    gap: 30px;
  }
}

.rightSide {
  display: flex;
  gap: 3rem;
}

.menuFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.socialBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
