.allContent {
  padding-bottom: 10rem;
}

.title {
  text-align: center;

  h2 {
    font-size: 42px;
    color: var(--white);
    font-weight: 500;
  }
  p {
    color: var(--yellow-400);
    font-size: 27px;
    font-weight: 500;
  }
}

.aboutContent {
  display: flex;
  justify-content: center;
  margin-block: 12rem;

  &::before {
    position: absolute;
    // top: 5%;
    left: 0;
    bottom: 0;
    z-index: -1;
    content: url(/images/grafico.png);
  }
}

.contentBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 828px;

  h2 {
    font-size: 32px;
    line-height: 54px;
    color: #f4c648;
  }
  p {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: var(--white);
    max-width: 561px;
  }

  &:global(.first) {
    margin-left: 8rem;
  }
  &:global(.third) {
    margin-left: 20rem;
  }
  &:global(.fourth) {
    margin-left: 12rem;
  }
}
