.header {
  margin-top: 1.5rem;
  :global(.container) {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    align-items: center;
    gap: 9.8rem;
  }
}

.navLinks {
  display: flex;
  gap: 9.8rem;
}
